In [24]:
import pandas as pd

In [25]:
# knock12-14

In [26]:
uriage_data = pd.read_csv("uriage.csv")

In [27]:
uriage_data.head()

         purchase_date item_name  item_price customer_name
0  2019-06-13 18:02:34       商品A       100.0         深井菜々美
1  2019-07-13 13:05:29     商 品 S         NaN          浅田賢二
2  2019-05-11 19:42:07     商 品 a         NaN          南部慶二
3  2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒
4  2019-04-22 03:09:35       商品a         NaN          平田鉄二

In [28]:
uriage_data['purchase_date'] = pd.to_datetime(uriage_data['purchase_date'])

In [29]:
uriage_data.head()

        purchase_date item_name  item_price customer_name
0 2019-06-13 18:02:34       商品A       100.0         深井菜々美
1 2019-07-13 13:05:29     商 品 S         NaN          浅田賢二
2 2019-05-11 19:42:07     商 品 a         NaN          南部慶二
3 2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒
4 2019-04-22 03:09:35       商品a         NaN          平田鉄二

In [30]:
uriage_data['purchase_month'] = uriage_data['purchase_date'].dt.strftime('%Y%m')

In [31]:
uriage_data

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1    2019-07-13 13:05:29     商 品 S         NaN          浅田賢二         201907
2    2019-05-11 19:42:07     商 品 a         NaN          南部慶二         201905
3    2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902
4    2019-04-22 03:09:35       商品a         NaN          平田鉄二         201904
...                  ...       ...         ...           ...            ...
2994 2019-02-15 02:56:39       商品Y      2500.0          福島友也         201902
2995 2019-06-22 04:03:43       商品M      1300.0          大倉晃司         201906
2996 2019-03-29 11:14:05       商品Q         NaN          尾形小雁         201903
2997 2019-07-14 12:56:49       商品H         NaN          芦田博之         201907
2998 2019-07-21 00:31:36       商品D       400.0          石田郁恵         201907

[2999 rows x 5 columns]

In [32]:
res = uriage_data.pivot_table(index='purchase_month', columns='item_name', aggfunc='size', fill_value=0)

In [33]:
res

item_name,商品W,商 品 n,商品E,商品M,商品P,商品S,商品W,商品X,商 品O,商 品Q,...,商品k,商品l,商品o,商品p,商品r,商品s,商品t,商品v,商品x,商品y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,0,1,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
201902,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,0
201903,0,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201904,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
201905,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
201906,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
201907,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,2,0,0,0,0,0

In [34]:
res = uriage_data.pivot_table(index='purchase_month', columns='item_name', values='item_price', aggfunc='sum', fill_value=0)

In [35]:
res

item_name,商品W,商 品 n,商品E,商品M,商品P,商品S,商品W,商品X,商 品O,商 品Q,...,商品k,商品l,商品o,商品p,商品r,商品s,商品t,商品v,商品x,商品y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,0,1400,0,0,0,0,0,0,0,0,...,1100,1200,1500,0,0,0,0,0,0,0
201902,0,0,0,0,0,0,0,2400,0,0,...,0,0,0,0,0,1900,2000,2200,0,0
201903,0,0,500,1300,1600,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201904,2300,0,0,0,0,0,0,0,0,1700,...,0,0,0,0,0,1900,0,0,0,0
201905,0,0,0,0,0,1900,0,0,0,0,...,0,1200,0,0,0,0,0,0,0,2500
201906,0,0,0,0,0,0,2300,0,0,0,...,0,0,0,1600,0,0,0,0,2400,0
201907,0,0,0,0,0,0,0,0,0,0,...,0,0,1500,0,1800,0,0,0,0,0

In [36]:
# knock14: データを補正する

In [40]:
len(pd.unique(uriage_data['item_name']))

99

In [43]:
# 大文字へ
uriage_data['item_name'] = uriage_data['item_name'].str.upper()

In [45]:
# 空白削除
uriage_data['item_name'] = uriage_data['item_name'].str.replace(" ", "")
uriage_data['item_name'] = uriage_data['item_name'].str.replace("　", "")

In [48]:
# item_nameの昇順で並び帰る
uriage_data.sort_values(by=['item_name'], ascending=True)

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1748 2019-05-19 20:22:22       商品A       100.0          松川綾女         201905
223  2019-06-25 08:13:20       商品A       100.0           板橋隆         201906
1742 2019-06-13 16:03:17       商品A       100.0          小平陽子         201906
1738 2019-02-10 00:28:43       商品A       100.0          松田浩正         201902
...                  ...       ...         ...           ...            ...
2880 2019-04-22 00:36:52       商品Y         NaN          田辺光洋         201904
2881 2019-04-30 14:21:09       商品Y         NaN          高原充則         201904
1525 2019-01-24 10:27:23       商品Y      2500.0         五十嵐春樹         201901
1361 2019-05-28 13:45:32       商品Y      2500.0         大崎ヒカル         201905
3    2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902

[2999 rows x 5 columns]

In [49]:
len(pd.unique(uriage_data['item_name']))

26

In [50]:
# knock15: 欠損値の補完

In [53]:
uriage_data.isnull().any(axis=0)

purchase_date     False
item_name         False
item_price         True
customer_name     False
purchase_month    False
dtype: bool

In [54]:
flg_is_null = uriage_data['item_price'].isnull()

In [61]:
for target in list(uriage_data.loc[flg_is_null, 'item_name'].unique()):
    price = uriage_data.loc[(~flg_is_null) & (uriage_data['item_name'] == target), 'item_price'].max()
    uriage_data.loc[(flg_is_null) & (uriage_data['item_name'] == target), 'item_price'] = price

In [62]:
uriage_data.head()

        purchase_date item_name  item_price customer_name purchase_month
0 2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1 2019-07-13 13:05:29       商品S      1900.0          浅田賢二         201907
2 2019-05-11 19:42:07       商品A       100.0          南部慶二         201905
3 2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902
4 2019-04-22 03:09:35       商品A       100.0          平田鉄二         201904

In [65]:
uriage_data.isnull().any(axis=0)

purchase_date     False
item_name         False
item_price        False
customer_name     False
purchase_month    False
dtype: bool

In [68]:
for target in list(uriage_data['item_name'].sort_values().unique()):
    print(target + 'の最大値：'+ str(uriage_data.loc[uriage_data['item_name']==target]['item_price'].max()) + 'の最小値：' +  str(uriage_data.loc[uriage_data['item_name']==target]['item_price'].min(skipna=False)))

商品Aの最大値：100.0の最小値：100.0
商品Bの最大値：200.0の最小値：200.0
商品Cの最大値：300.0の最小値：300.0
商品Dの最大値：400.0の最小値：400.0
商品Eの最大値：500.0の最小値：500.0
商品Fの最大値：600.0の最小値：600.0
商品Gの最大値：700.0の最小値：700.0
商品Hの最大値：800.0の最小値：800.0
商品Iの最大値：900.0の最小値：900.0
商品Jの最大値：1000.0の最小値：1000.0
商品Kの最大値：1100.0の最小値：1100.0
商品Lの最大値：1200.0の最小値：1200.0
商品Mの最大値：1300.0の最小値：1300.0
商品Nの最大値：1400.0の最小値：1400.0
商品Oの最大値：1500.0の最小値：1500.0
商品Pの最大値：1600.0の最小値：1600.0
商品Qの最大値：1700.0の最小値：1700.0
商品Rの最大値：1800.0の最小値：1800.0
商品Sの最大値：1900.0の最小値：1900.0
商品Tの最大値：2000.0の最小値：2000.0
商品Uの最大値：2100.0の最小値：2100.0
商品Vの最大値：2200.0の最小値：2200.0
商品Wの最大値：2300.0の最小値：2300.0
商品Xの最大値：2400.0の最小値：2400.0
商品Yの最大値：2500.0の最小値：2500.0
商品Zの最大値：2600.0の最小値：2600.0

In [75]:
uriage_data

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1    2019-07-13 13:05:29       商品S      1900.0          浅田賢二         201907
2    2019-05-11 19:42:07       商品A       100.0          南部慶二         201905
3    2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902
4    2019-04-22 03:09:35       商品A       100.0          平田鉄二         201904
...                  ...       ...         ...           ...            ...
2994 2019-02-15 02:56:39       商品Y      2500.0          福島友也         201902
2995 2019-06-22 04:03:43       商品M      1300.0          大倉晃司         201906
2996 2019-03-29 11:14:05       商品Q      1700.0          尾形小雁         201903
2997 2019-07-14 12:56:49       商品H       800.0          芦田博之         201907
2998 2019-07-21 00:31:36       商品D       400.0          石田郁恵         201907

[2999 rows x 5 columns]

In [73]:
# knock16: 空白除去

In [74]:
kokyaku_data= pd.read_excel("kokyaku_daicho.xlsx")

In [71]:
kokyaku_data['顧客名'].head()

0     須賀ひとみ
1    岡田　 敏也
2      芳賀 希
3     荻野  愛
4     栗田 憲一
Name: 顧客名, dtype: object

In [76]:
kokyaku_data['顧客名'] = kokyaku_data['顧客名'].str.replace(' ', '')
kokyaku_data['顧客名'] = kokyaku_data['顧客名'].str.replace('　', '')

In [77]:
kokyaku_data

       顧客名           かな  地域                         メールアドレス         登録日
0    須賀ひとみ       すが ひとみ  H市         suga_hitomi@example.com  2018/01/04
1     岡田敏也      おかだ としや  E市       okada_toshiya@example.com       42782
2      芳賀希       はが のぞみ  A市         haga_nozomi@example.com  2018/01/07
3      荻野愛       おぎの あい  F市            ogino_ai@example.com       42872
4     栗田憲一     くりた けんいち  E市      kurita_kenichi@example.com       43127
..     ...          ...  ..                             ...         ...
195   川上りえ      かわかみ りえ  G市        kawakami_rie@example.com  2017/06/20
196   小松季衣      こまつ としえ  E市      komatsu_toshie@example.com  2018/06/20
197   白鳥りえ      しらとり りえ  F市       shiratori_rie@example.com  2017/04/29
198  大西隆之介  おおにし りゅうのすけ  H市  oonishi_ryuunosuke@example.com  2019/04/19
199   福井美希       ふくい みき  D市         fukui_miki1@example.com  2019/04/23

[200 rows x 5 columns]

In [79]:
# knock17: 日付補正

In [84]:
# 数値として取り込まれているデータを判定
flg_is_serial = kokyaku_data['登録日'].astype('str').str.isdigit()

In [87]:
flg_is_serial.sum()

22

In [91]:
# kokyaku_data.loc[flg_is_serial, '登録日'].astype('float') - 2

1      42780.0
3      42870.0
4      43125.0
21     42918.0
27     42899.0
47     42739.0
49     42927.0
53     42831.0
76     43186.0
80     43108.0
99     42883.0
114    43252.0
118    43127.0
122    43204.0
139    42878.0
143    42816.0
155    42752.0
172    43179.0
179    42741.0
183    42938.0
186    43292.0
192    43257.0
Name: 登録日, dtype: float64

In [92]:
# 数値(シリアル値)から日付に変換
# 2の理由は、Excel上で最小日付が１であること&Eccelの日付仕様では1900/2/29を有効な日付としていることから
fromSerial = pd.to_timedelta(kokyaku_data.loc[flg_is_serial, '登録日'].astype('float') - 2, unit='D') + pd.to_datetime('1900/1/1')

In [93]:
fromSerial

1     2017-02-16
3     2017-05-17
4     2018-01-27
21    2017-07-04
27    2017-06-15
47    2017-01-06
49    2017-07-13
53    2017-04-08
76    2018-03-29
80    2018-01-10
99    2017-05-30
114   2018-06-03
118   2018-01-29
122   2018-04-16
139   2017-05-25
143   2017-03-24
155   2017-01-19
172   2018-03-22
179   2017-01-08
183   2017-07-24
186   2018-07-13
192   2018-06-08
Name: 登録日, dtype: datetime64[ns]

In [96]:
kokyaku_data.loc[flg_is_serial, '登録日']

1      42782
3      42872
4      43127
21     42920
27     42901
47     42741
49     42929
53     42833
76     43188
80     43110
99     42885
114    43254
118    43129
122    43206
139    42880
143    42818
155    42754
172    43181
179    42743
183    42940
186    43294
192    43259
Name: 登録日, dtype: object

In [94]:
fromString = pd.to_datetime(kokyaku_data.loc[~flg_is_serial, '登録日'])

In [95]:
fromString

0     2018-01-04
2     2018-01-07
5     2017-06-20
6     2018-06-11
7     2017-05-19
         ...
195   2017-06-20
196   2018-06-20
197   2017-04-29
198   2019-04-19
199   2019-04-23
Name: 登録日, Length: 178, dtype: datetime64[ns]

In [99]:
kokyaku_data['登録日'] = pd.concat([fromSerial, fromString])

In [109]:
kokyaku_data

       顧客名           かな  地域                         メールアドレス        登録日
0    須賀ひとみ       すが ひとみ  H市         suga_hitomi@example.com 2018-01-04
1     岡田敏也      おかだ としや  E市       okada_toshiya@example.com 2017-02-16
2      芳賀希       はが のぞみ  A市         haga_nozomi@example.com 2018-01-07
3      荻野愛       おぎの あい  F市            ogino_ai@example.com 2017-05-17
4     栗田憲一     くりた けんいち  E市      kurita_kenichi@example.com 2018-01-27
..     ...          ...  ..                             ...        ...
195   川上りえ      かわかみ りえ  G市        kawakami_rie@example.com 2017-06-20
196   小松季衣      こまつ としえ  E市      komatsu_toshie@example.com 2018-06-20
197   白鳥りえ      しらとり りえ  F市       shiratori_rie@example.com 2017-04-29
198  大西隆之介  おおにし りゅうのすけ  H市  oonishi_ryuunosuke@example.com 2019-04-19
199   福井美希       ふくい みき  D市         fukui_miki1@example.com 2019-04-23

[200 rows x 5 columns]

In [110]:
kokyaku_data['登録年月'] = kokyaku_data['登録日'].dt.strftime('%Y%m')

In [116]:
# 顧客名の集計結果を表示
result = kokyaku_data.groupby('登録年月').count()['顧客名']

In [117]:
result, len(result)

(登録年月
 201701    15
 201702    11
 201703    14
 201704    15
 201705    14
 201706    13
 201707    17
 201801    13
 201802    15
 201803    17
 201804     5
 201805    19
 201806    13
 201807    17
 201904     2
 Name: 顧客名, dtype: int64,
 15)

In [118]:
# 数値データが残っていないか検証
flg_is_serial = kokyaku_data['登録日'].astype('str').str.isdigit()

In [120]:
flg_is_serial.sum()

0